[submodule "libs/mach-glfw"]
	path = libs/mach-glfw
	url = https://github.com/hexops/mach-glfw
[submodule "libs/vulkan-zig"]
	path = libs/vulkan-zig
	url = https://github.com/Snektron/vulkan-zig
[submodule "libs/zig-datetime"]
	path = libs/zig-datetime
	url = https://github.com/frmdstryr/zig-datetime
[submodule "libs/cimgui"]
	path = libs/cimgui
	url = https://github.com/cimgui/cimgui
