[submodule "libs/zig-datetime"]
	path = libs/zig-datetime
	url = https://github.com/frmdstryr/zig-datetime
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/dear_bindings"]
	path = libs/dear_bindings
	url = https://github.com/dearimgui/dear_bindings
