doc/*.md                    -linguist-vendored
doc/*/*.md                    -linguist-vendored
cli/*/*.md                    -linguist-vendored
doc/*.md                linguist-detectable
doc/*/*.md              linguist-detectable
cli/*/*.md              linguist-detectable
*.md                   linguist-detectable
cli/shaders/lab/*.glsl linguist-vendored
cli/Makefile           linguist-vendored
cli/scripts/*/*        linguist-vendored
cli/conf/*             linguist-vendored
