name: cd pong

on:
  repository_dispatch:
    types:
      - ping-from-cimgui.zig
      - ping-from-shaderc.zig
      - ping-from-spaceporn-action-env
      - ping-from-spaceporn-action-pong

jobs:
  pong:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: tiawl/spaceporn-action-cd-pong@v1.1.0
      with:
        to: "${{ github.repository }}"
        from: "${{ github.event.client_payload.from }}"
        tag: "${{ github.event.client_payload.tag }}"
        hash: "${{ github.event.client_payload.hash }}"
        token: "${{ secrets.PAT }}"
