name: cd pong

on:
  repository_dispatch:
    types:
      - ping-cimgui.zig
      - ping-shaderc.zig
      - ping-spaceporn-dep-action-env
      - ping-spaceporn-dep-action-pong

jobs:
  pong:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
    - uses: tiawl/spaceporn-dep-action-cd-pong@v1
      with:
        repository: "${{ github.repository }}"
        dependency: "${{ github.event.client_payload.dependency }}"
        tag: "${{ github.event.client_payload.tag }}"
        hash: "${{ github.event.client_payload.hash }}"
        token: "${{ secrets.PAT }}"
